<div class="panel panel-primary">
      <div class="panel-heading">
            <h2>Product List</h2>
      </div>
      <div class="panel-body">
            <table class="table table-striped">
                  <thead>
                        <tr>
                              <th>NAME</th>
                              <th>PRICE</th>
                              <th>CATEGORY</th>
                              <th>IMAGE</th>
                              <th>View Details</th>
                        </tr>     
                  </thead>   
                  <tbody>
                              <tr *ngFor= "let product of data | paginate: {id: 'listing_pagination',
                              itemsPerPage :3,
                              currentPage: page,
                              totalItems: totalRecords }">
                              <td>{{product.name}}</td>
                              <td>{{product.price}}</td>
                              <td>{{product.category}}</td>
                              <td><img [src]=product.image height="150" width="150" ></td>
                              <td><button (click)="getDetails(product.id)" class="btn btn-info" style="margin-left: 10px">View Details</button></td>
                  </tbody>
            </table>
      </div>
</div>


<div>
    <pagination-controls id = "listing_pagination" maxSize="5" directionLinks ="true" 
    (pageChange) ="page = $event">
     </pagination-controls>   
</div>

